mobilite/services/wsdl/getBikeStations.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.talend.org/service/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="getBikeStations" targetNamespace="http://www.talend.org/service/">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.talend.org/service/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.talend.org/service/">
			<xsd:element name="getBikeStationsRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="Key" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="API" type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getBikeStationsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="State" type="tns:StateType">
						</xsd:element>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="Station" type="tns:StationType">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
			<xsd:complexType name="StateType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="State">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="OK"/>
								<xsd:enumeration value="NG"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Info" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="StationType">
				<xsd:sequence>
					<xsd:element name="ID" type="xsd:int"/>
					<xsd:element name="Name" type="xsd:string"/>
					<xsd:element name="City" type="xsd:string"/>
					<xsd:element name="Lat" type="xsd:double"/>
					<xsd:element name="Lng" type="xsd:double"/>
					<xsd:element name="CB" type="xsd:int"/>
					<xsd:element name="SlotsTotal" type="xsd:int"/>
					<xsd:element name="BikesAvailable" type="xsd:int">
					</xsd:element>

                    <xsd:element name="SlotsAvailable" type="xsd:int"/>
                </xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getBikeStationsRequest">
    <wsdl:part element="tns:getBikeStationsRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBikeStationsResponse">
    <wsdl:part element="tns:getBikeStationsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="getBikeStations">
    <wsdl:operation name="getBikeStations">
      <wsdl:input message="tns:getBikeStationsRequest">
    </wsdl:input>
      <wsdl:output message="tns:getBikeStationsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="getBikeStationsBinding" type="tns:getBikeStations">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getBikeStations">
      <soap:operation soapAction="http://www.talend.org/service/getBikeStations"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="getBikeStations">
    <wsdl:port binding="tns:getBikeStationsBinding" name="getBikeStations">
      <soap:address location="http://193.239.192.237:8040/services/getBikeStations"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>