mobilite/services/wsdl/getLocations.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.talend.org/service/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="getLocations" targetNamespace="http://www.talend.org/service/">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.talend.org/service/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.talend.org/service/">
			<xsd:element name="getLocationsRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="Key" type="xsd:string">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="1" name="API" type="xsd:int">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="1" name="GtfsVersion" type="xsd:int">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="1" name="Mode">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="All"/>
									<xsd:enumeration value="LineShortName">
									</xsd:enumeration>
									<xsd:enumeration value="LineName"/>
									<xsd:enumeration value="LineID"/>
									<xsd:enumeration value="Geo"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<xsd:element maxOccurs="1" minOccurs="0" name="LineShortName" type="xsd:string">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="LineName" type="xsd:string">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="LineID" type="xsd:int">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="Lat" type="xsd:double">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="Lng" type="xsd:double">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="Perimeter" type="xsd:int">
						</xsd:element>

						<xsd:element maxOccurs="1" minOccurs="0" name="StopID" type="xsd:string">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="StopName" type="xsd:string">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="LocationID" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getLocationsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="State" type="tns:StateType">
						</xsd:element>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="Location" type="tns:LocationType">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
			<xsd:complexType name="StateType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="State">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="OK"/>
								<xsd:enumeration value="NG"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Info" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="LocationType">
				<xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="LocationID" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="LocationName" type="xsd:string">
					</xsd:element>

                    <xsd:element maxOccurs="1" minOccurs="0" name="Distance" type="xsd:int">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Lat" type="xsd:double">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Lng" type="xsd:double">
					</xsd:element>


				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getLocationsResponse">
    <wsdl:part element="tns:getLocationsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLocationsRequest">
    <wsdl:part element="tns:getLocationsRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="getLocations">
    <wsdl:operation name="getLocations">
      <wsdl:input message="tns:getLocationsRequest" name="">
    </wsdl:input>
      <wsdl:output message="tns:getLocationsResponse" name="">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="getLocationsBinding" type="tns:getLocations">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getLocations">
      <soap:operation soapAction="http://www.talend.org/service/getLocations"/>
      <wsdl:input name="">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="getLocations">
    <wsdl:port binding="tns:getLocationsBinding" name="getLocations">
      <soap:address location="http://193.239.192.237:8040/services/getLocations"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>