mobilite/services/wsdl/getParking.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.talend.org/service/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="getParking" targetNamespace="http://www.talend.org/service/">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.talend.org/service/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.talend.org/service/">
			<xsd:element name="getParkingRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="Key" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="API" type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getParkingResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="State" type="tns:StateType">
						</xsd:element>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="Parking" type="tns:ParkingType">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
			<xsd:complexType name="StateType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="State">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="OK"/>
								<xsd:enumeration value="NG"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Info" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ParkingType">
				<xsd:sequence>
					<xsd:element name="ID" type="xsd:int"/>
					<xsd:element name="Name" type="xsd:string"/>
					<xsd:element name="Type" type="xsd:int"/>
					<xsd:element name="Lat" type="xsd:double"/>
					<xsd:element name="Lng" type="xsd:double"/>
					<xsd:element name="SpotsAvailable" type="xsd:int">
					</xsd:element>
					<xsd:element name="Capacity" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getParkingResponse">
    <wsdl:part element="tns:getParkingResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getParkingRequest">
    <wsdl:part element="tns:getParkingRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="getParking">
    <wsdl:operation name="getParking">
      <wsdl:input message="tns:getParkingRequest">
    </wsdl:input>
      <wsdl:output message="tns:getParkingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="getParkingBinding" type="tns:getParking">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getParking">
      <soap:operation soapAction="http://www.talend.org/service/getParking"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="getParking">
    <wsdl:port binding="tns:getParkingBinding" name="getParking">
      <soap:address location="http://193.239.192.237:8040/services/getParking"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>