mobilite/services/wsdl/getStops.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.talend.org/service/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="getStops" targetNamespace="http://www.talend.org/service/">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.talend.org/service/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.talend.org/service/">
			<xsd:element name="getStopsRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="Key" type="xsd:string">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="1" name="API" type="xsd:int">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="1" name="GtfsVersion" type="xsd:int">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="1" name="Mode">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="All"/>
									<xsd:enumeration value="LineShortName">
									</xsd:enumeration>
									<xsd:enumeration value="LineName"/>
									<xsd:enumeration value="LineID"/>
									<xsd:enumeration value="Geo"/>
									<xsd:enumeration value="StopID"/>
									<xsd:enumeration value="StopName"/>
									<xsd:enumeration value="LocationID"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<xsd:element maxOccurs="1" minOccurs="0" name="LineShortName" type="xsd:string">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="LineName" type="xsd:string">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="LineID" type="xsd:int">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="Lat" type="xsd:double">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="Lng" type="xsd:double">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="Perimeter" type="xsd:int">
						</xsd:element>

						<xsd:element maxOccurs="1" minOccurs="0" name="StopID" type="xsd:string">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="StopName" type="xsd:string">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="LocationID" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getStopsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="State" type="tns:StateType">
						</xsd:element>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="Station" type="tns:StopType">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
			<xsd:complexType name="StateType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="State">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="OK"/>
								<xsd:enumeration value="NG"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Info" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="StopType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="StopName" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="StopID" type="xsd:string">
					</xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="LocationID" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Distance" type="xsd:int">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Lat" type="xsd:double">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Lng" type="xsd:double">
					</xsd:element>


                    <xsd:element maxOccurs="1" minOccurs="1" name="StopCode" type="xsd:string"/>
                </xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getStopsRequest">
    <wsdl:part element="tns:getStopsRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStopsResponse">
    <wsdl:part element="tns:getStopsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="getStops">
    <wsdl:operation name="getStops">
      <wsdl:input message="tns:getStopsRequest" name="">
    </wsdl:input>
      <wsdl:output message="tns:getStopsResponse" name="">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="getStopsBinding" type="tns:getStops">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getStops">
      <soap:operation soapAction="http://www.talend.org/service/getStops"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="getStops">
    <wsdl:port binding="tns:getStopsBinding" name="getStops">
      <soap:address location="http://193.239.192.237:8040/services/getStops"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>